<h1><%= @movies.count %> Movies</h1>
<ul>
  <% @movies.each do |movie| %>
      <strong><%= movie.title %></strong>
      <li><%= movie.rating %></li>
      <li><%= number_to_currency(movie.total_gross) %></li>
  <% end %>
</ul>